/* Estilos para pantallas chicas */

@media (max-width: 1023px) {
    nav ul {
      display: grid;
      grid-gap: 10px;
    }
  
    h1 {
      font-size: 1.2em;
    }
  
    .presentacion-personal-nombres {
      grid-template-columns: 1fr 1fr;
      gap: 0px;
    }
  }
  
  @media (max-width: 767px) {
    h1 {
      font-size: 1em;
      padding: 10px;
    }
  
    .lista-nav {
      display: grid;
      gap: 5px;
    }
  
    nav ul li {
      margin-right: 10px;
      font-size: 1em;
      padding: 5px;
    }
  
    form button[type="submit"],
    form button[type="button"] {
      width: auto;
    }
  
    fieldset:not(:first-of-type) {
      display: none;
    }
  
    .presentacion-personal-nombres {
      grid-template-columns: 1fr;
    }
    
  }
  
  
  
  /* Estilos para pantallas más chicas */
  
  @media (max-width: 479px) {
  
    /* Estilos para el cuerpo del documento */
  
    body {
      font-size: 0.8em;
    }
  
    /* Estilos para encabezado */
  
    header h1 {
      font-size: 1.8em;
    }
  
    /* Estilos para la barra de navegación */
  
    nav {
      padding: 0px 10px;
    }
  
    .lista-nav li {
      margin: 2px 5px;
    }
  
    /* Estilos para secciones */
  
    section {
      padding: 10px;
    }
  
    /* Estilos para presentacion */
  
    #presentacion {
      padding-top: 130px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
    }
  
    .presentacion__titulo {
      grid-column-start: 1;
      grid-column-end: 1;
    }
  
    .presentacion__texto-1,
    .presentacion__texto-2 {
      width: 90%;
      margin: 20px 0px;
    }
  
    .presentacion__texto-2 {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
    }
  
    .presentacion-personal-nombres {
      grid-template-columns: 1fr 1fr;
    }
  
    /* Estilos para formulario */
  
    #form-contacto {
      padding: 20px;
    }
  
    form input[type="text"],
    form input[type="email"],
    form select,
    form textarea {
      width: 90%;
      font-size: 1em;
    }
  
    form button[type="submit"],
    form button[type="button"] {
      width: 40%;
      font-size: 1em;
    }
  
    /* Estilos para pie de página */
  
    footer {
      margin-top: 20px;
    }
  
    .texto-footer {
      font-size: 0.9em;
    }
  }