:root {
  --Este-azul: #2596BE;
  --este-azul-oscuro: #15556C;
  --blanco: #f2f2f2;
}

* {
  font-family: 'Roboto', sans-serif;
  tamaño de caja: border-box;
  
}

/* Estilos para titulos*/

h2 {
  Tamaño de fuente: 2.em;
  alineación de texto: centro;
}

h3 {
  Tamaño de fuente: 1.5em;
}

/* Estilos para párrafos */

p {
  color: negro;
  Tamaño de fuente: 1.2em;
  alineación de texto: centro;
}

/* Estilos para el cuerpo del documento */

cuerpo {
  font-weight: negrita;
  margen: 0;
  relleno: 0;
  Ancho: 100%;
  Altura mínima: 100VH;
  background-color: var(--blanco);
}

/* Estilos para encabezado */

encabezado {
  Ancho: 100%;
  posición: fija;
  Color: Var(--blanco);
  Pantalla: cuadrícula;
  grid-template-columns: 1fr auto;
  align-items: centro;
  justificar-contenido: espacio-entre;
  relleno: 10 px 20 px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.www.http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/rect%3e%3cpath d= 'M1440 0L764.1 0L1440 155.98z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M764.1 0L1440 155.98L1440 348.54999999999995L736..78 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M736.78 0L1440 348.54999999999995L1440 382.78L718.17 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M718.17 0L1440 382.78L1440 451.15999999999997L614.18 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/ path%3e%3cpath d='M0 560L695.15 560L0 300.06z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 300.06L695.15 560L728.0699999999999 560L0 194.94z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 194.94L728.0699999999999 560L920.5999999999999 560L0 147.05z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 147.05L920.5999999999999 560L1254.27 560L0 97.28z' fill='rgba(0%2c 0%2c 0% 2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15..28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

Encabezado H1 {
  Tamaño de fuente: 1.5em;
  margen: 0;
}

/* Estilos para la barra de navegación */

Nav {
  relleno: 0 px 20 px;
}

. lista-nav {
  estilo de lista: ninguno;
  Pantalla: Flex;
}

. lista-nav li {
  margen: 0 px 10px;
}

. lista-nav li a {
  Color: #FFF;
  decoración de texto: ninguno;
  Tamaño de fuente: 1.2em;
}

/* Estilos para secciones */

sección {
  Relleno: 20px;
}

/* Estilos para presentacion */

#Presentación {
  relleno: 90px;
  Pantalla: cuadrícula;
  grid-template-columns: 1 fr 1 fr;
  grid-template-rows: 1 fr 1 fr 1  fr;
  justificar-contenido: espacio-alrededor;
  align-items: centro;
  justificar-ítems: centro;
}

. presentacion__titulo {
  grid-column-start: 1;
  grid-column-end: 3;
  Tamaño de fuente: 2.5em;
  alineación de texto: centro;
}

. presentacion__texto-1,
. presentacion__texto-2 {
  Ancho: 80%;
  margen: 40 px 0px;
  Tamaño de fuente: 1.2em;
  alineación de texto: heredar;
}

. presentacion__texto-2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
}

. presentacion-personal-nombres {
  Pantalla: cuadrícula;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  estilo de lista: ninguno;
  alineación de texto: centro;
  Espacio: 10px;
  margen: 20 px 0px;
}

. presentacion-personal-nombres li {
  background-color: var(--eastern-blue-oscuro);
  Relleno: 15px;
  Radio de borde: 10px;
}

. presentacion-personal-nombres li a {
  Color: Var(--blanco);
  decoración de texto: ninguno;
  Tamaño de fuente: 1em;
  font-weight: negrita;
}

. tarjeta {
  Margen: 20px;
  Tamaño de fuente: 1em;
  alineación de texto: heredar;
  Color: Var(--blanco);
}

. texto-presentacion {
  Tamaño de fuente: 1em;
  Color: Var(--blanco);
}

/* Estilos para formulario */

#form-contacto {
  Pantalla: cuadrícula;
  justificar-ítems: centro;
  margen: 50 px 0px;
}

#form-proceso {
  Pantalla: Flex;
  justify-content: center;
  margin-top: 50px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.mensaje {
  height: 80px;
}

form textarea {
  resize: vertical;
}

form button[type="submit"],
form button[type="button"] {
  width: 20%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--eastern-blue-oscuro);
  color: #fff;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
  font-size: 1.2em;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
  background-color: #444;
}

form button[type="submit"]:focus,
form button[type="button"]:focus {
  outline: none;
}

form button.prev {
  display: none;
}

fieldset {
  transition: opacity 0.5s ease-out;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#cantidad {
  width: 15%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#comentarios {
  width: 100%;
}

/* Estilos para pie de página */

footer {
  background-color: var(--eastern-blue-oscuro);
  color: #fff;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}

.texto-footer {
  color: #fff;
}




/* Estilos para pantallas chicas */

@media (max-width: 1023px) {
  nav ul {
    display: grid;
    grid-gap: 10px;
  }

  h1 {
    font-size: 1.2em;
  }

  .presentacion-personal-nombres {
    grid-template-columns: 1fr 1fr;
    gap: 0px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 1em;
    padding: 10px;
  }

  .lista-nav {
    display: grid;
    gap: 5px;
  }

  nav ul li {
    margin-right: 10px;
    font-size: 1em;
    padding: 5px;
  }

  form button[type="submit"],
  form button[type="button"] {
    width: auto;
  }

  fieldset:not(:first-of-type) {
    display: none;
  }

  .presentacion-personal-nombres {
    grid-template-columns: 1fr;
  }
  
}



/* Estilos para pantallas más chicas */

@media (max-width: 479px) {

  /* Estilos para el cuerpo del documento */

  body {
    font-size: 0.8em;
  }

  /* Estilos para titulos */

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1em;
  }

  /* Estilos para párrafos */

  p {
    font-size: 1em;
  }

  /* Estilos para encabezado */

  header h1 {
    font-size: 1.2em;
  }

  /* Estilos para la barra de navegación */

  nav {
    padding: 0px 10px;
  }

  .lista-nav li {
    margin: 0px 5px;
  }

  /* Estilos para secciones */

  section {
    padding: 10px;
  }

  /* Estilos para presentacion */

  #presentacion {
    padding-top: 120px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .presentacion__titulo {
    grid-column-start: 1;
    grid-column-end: 1;
  }

  .presentacion__texto-1,
  .presentacion__texto-2 {
    width: 90%;
    margin: 20px 0px;
    font-size: 1em;
  }

  .presentacion__texto-2 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
  }

  .presentacion-personal-nombres {
    grid-template-columns: 1fr 1fr;
  }

  /* Estilos para formulario */

  #form-contacto {
    Relleno: 20px;
  }

  form input[type="text"],
  entrada de formulario[type="email"],
  selección de formulario,
  Área de texto del formulario {
    Ancho: 90%;
    Tamaño de fuente: 1em;
  }

  botón de formulario[type="enviar"],
  botón de formulario[type="button"] {
    Ancho: 40%;
    Tamaño de fuente: 1em;
  }

  /* Estilos para pie de página */

  pie de página {
    Margin-top: 20px;
  }

 . texto-footer {
    Tamaño de fuente: 0.9em;
  }
}
