:root {
  --eastern-blue: #2596be;
  --eastern-blue-oscuro: #15556C;
}

* {
  font-family: 'Roboto', sans-serif;
}

/* Estilos para titulos*/
h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

/* Estilos para párrafos */
p {
  color: black;
  font-size: 1.2em;
  text-align: center;
}

/* Estilos para el cuerpo del documento */
body {
  background-image: url(imagen.jpg);
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Estilos para encabezado */
header {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1003)'%3e%3c/rect%3e%3cpath d='M1440 0L764.1 0L1440 155.98z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M764.1 0L1440 155.98L1440 348.54999999999995L736.78 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M736.78 0L1440 348.54999999999995L1440 382.78L718.17 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M718.17 0L1440 382.78L1440 451.15999999999997L614.18 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L695.15 560L0 300.06z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 300.06L695.15 560L728.0699999999999 560L0 194.94z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 194.94L728.0699999999999 560L920.5999999999999 560L0 147.05z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 147.05L920.5999999999999 560L1254.27 560L0 97.28z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1003'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2em;
  margin: 0;
}

/* Estilos para la barra de navegación */

nav ul {
  list-style: none;
  margin: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para secciones */

section {
  padding: 20px;
}

section h2 {
  margin-top: 0;
}

/* Estilos para presentacion */

.presentacion-personal__nombres {
  margin: 0;
  display: flex;
  list-style: none;
  text-align: center;
}

.texto-presentacion{
  padding: 20px;
}


/* Estilos para formulario */

#form-contacto {
  display: grid;
  justify-items: center;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form select,
form textarea {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

form textarea {
  resize: vertical;
}

form button[type="submit"],
form button[type="button"] {
  width: 20%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--eastern-blue-oscuro);
  color: #fff;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
  background-color: #444;
}

form button[type="submit"]:focus,
form button[type="button"]:focus {
  outline: none;
}

form button.prev {
  display: none;
}

fieldset {
  transition: opacity 0.5s ease-out;
}


/* Estilos para pie de página */

footer {
  background-color: var(--eastern-blue-oscuro);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.texto-footer {
  color: #fff;
}

/* Estilos para pantallas pequeñas */

@media (max-width: 1023px) {
  nav ul {
    display: grid;
    grid-gap: 10px;
  }

  h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 1em;
    padding: 10px;
  }

  nav ul li {
    margin-right: 10px;
    font-size: 1em;
    padding: 5px;
  }

  form button[type="submit"],
  form button[type="button"] {
    width: auto;
  }

  fieldset:not(:first-of-type) {
    display: none;
  }
}