h2 {
  font-size: xx-large;
}

h3 {
  font-size: larger;
}

p {
  color: black;
  font-size: large;
}

body {
  
  background-image: url(image jpg_1146564.jpg);
  font-weight: bold;
  margin: 0;
  padding: 0;
}
  
header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
}
  
header h1 {
  font-size: x-large;
  margin: 0;
}
  
nav ul {
  list-style: none;
  margin: 0;
  padding-left: 10px;
  display: flex;
}
  
nav ul li {
  margin-right: 20px;
}
  
nav ul li:last-child {
  margin-right: 0;
}
  
nav ul li a {
  color: #fff;
  text-decoration: none;
}
  
section {
  padding: 20px;
}
  
section h2 {
  margin-top: 0;
}
  
form label {
  display: block;
  margin-bottom: 10px;
}
  
form input[type="text"],
form input[type="email"],
form select,
form textarea {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}
  
form textarea {
  resize: vertical;
}
  
form button[type="submit"],
form button[type="button"] {
  width: 20%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
}
  
form button[type="submit"]:hover,
form button[type="button"]:hover {
  background-color: #444;
}
  
form button[type="submit"]:focus,
form button[type="button"]:focus {
  outline: none;
}
  
form button.prev {
  display: none;
}
  
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}


@media (max-width: 1023px) {


  nav ul {
    display: grid;
    grid-gap: 10px;
  }

  h1 {
    font-size: 1em;
  }

}

@media (max-width: 767px) {
  
  h1 {
    font-size: 0.9em;
    padding: 10px;
  }
  
  nav ul li {
    margin-right: 10px;
    font-size: 0.9em;
    padding: 5px;
  }

  form button[type="submit"],
  form button[type="button"] {
    width: auto;
  }

}