:root {
  --naranja: #f69100;
  --eastern-blue: #2596be;
  --eastern-blue-oscuro: #15556C;
  --blanco: #f2f2f2;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  
}

/* Estilos para titulos*/

h2 {
  font-size: 2em;
  text-align: center;
}

h3 {
  font-size: 1.5em;
}

/* Estilos para párrafos */

p {
  color: black;
  font-size: 1.2em;
  text-align: center;
}

/* Estilos para el cuerpo del documento */

body {
  font-weight: bold;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: var(--blanco);
}

/* Estilos para encabezado */

header {
  width: 100%;
  position: fixed;
  color: var(--blanco);
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1008%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1009)'%3e%3c/rect%3e%3cpath d='M1440 0L764.1 0L1440 155.98z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M764.1 0L1440 155.98L1440 348.54999999999995L736.78 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M736.78 0L1440 348.54999999999995L1440 382.78L718.17 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M718.17 0L1440 382.78L1440 451.15999999999997L614.18 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L695.15 560L0 300.06z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 300.06L695.15 560L728.0699999999999 560L0 194.94z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 194.94L728.0699999999999 560L920.5999999999999 560L0 147.05z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 147.05L920.5999999999999 560L1254.27 560L0 97.28z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1008'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1009'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(246%2c 145%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");;
  background-size: cover;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
}

/* Estilos para la barra de navegación */

nav {
  padding: 0px 20px;
}

.lista-nav {
  display: flex;
}

.lista-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  padding: 5px;
}

/* Estilos para secciones */

section {
  padding: 20px;
}

/* Estilos para presentacion */

#inicio {
  padding-top: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7.5em 10.5em 10.5em;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
}

.inicio__titulo {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 2.5em;
  text-align: center;
}

.inicio__texto-1,
.inicio__texto-2 {
  width: 80%;
  margin: 40px 0px;
  font-size: 1.4em;
  text-align: inherit;
}

.inicio__texto-2 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
}

.grid-motos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  gap: 30px;
}

.tarjeta-moto {
  display: grid;
  justify-content: center;
  justify-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 2%;
}

.tarjeta-moto h3 {
  text-align: center;
  margin: 0;
}

.tarjeta-moto img {
  width: 80%;
  height: 200px;
}

.tarjeta-moto button {
  width: 55%;
}

.presentacion-personal-nombres {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  text-align: center;
  gap: 30px;
  margin: 0px 50px;
}

.tarjeta {
  margin: 20px 20px;
  padding: 15px;
  font-size: 1em;
  color: var(--blanco);
  background-color: var(--eastern-blue-oscuro);
  font-weight: bold;
  border-radius: 10px;
}

p {
  color: var(--naranja);
}

.texto-presentacion {
  font-size: 1em;
  color: var(--blanco);
}

/* Estilos para formulario */

#form-contacto {
  display: grid;
  justify-items: center;
  margin: 50px 0px;
}

#form-proceso {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form input[type="number"],
form select,
form textarea {
  width: 60%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1.2em;
}

.mensaje {
  height: 80px;
}

form textarea {
  resize: vertical;
}

form button[type="submit"],
form button[type="button"] {
  width: 25%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--eastern-blue-oscuro);
  color: #fff;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
  font-size: 1.2em;
}

form button[type="submit"]:hover,
form button[type="button"]:hover {
  background-color: #444;
}

form button[type="submit"]:focus,
form button[type="button"]:focus {
  outline: none;
}

form button.prev {
  display: none;
}

.prev-btn, .next-btn {
  display: inline-block;
  margin-right: 10px;
}

fieldset {
  transition: opacity 0.5s ease-out;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

#cantidad {
  width: 15%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

#comentarios {
  width: 100%;
}

/* Estilos para pie de página */

footer {
  background-color: var(--eastern-blue-oscuro);
  color: #fff;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}

footer p {
  color: #fff;
}